.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
}

.list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.item_name {
  font-size: 1.2em;
}

.buttons {
  display: flex;
}

.buttons > * {
  margin-left: 10px;
}
