.slider {
  width: 100%;
  //   height: auto;
  margin-top: 50px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 400px;
  height: auto;

  object-fit: contain;
}
